.DS_Store
node_modules
*.node
.idea
test/*
logs
*.log
npm-debug.log*

bower_components


_src/*.html
!_src/html/src

_src/js/*
!_src/js/src

_src/css/*
!_src/css/src

_src/img/*
_static
_theme
_dist


_src/html/*
_src/fonts/*
